.matrix {
  overflow: auto;
}

.matrix line {
  stroke: #666;
}

.matrix rect {
  opacity: 0.7;
}



.matrix .hover text  {
  font-weight: bold;
}

.matrix .hover rect  {
  opacity: 1;
}

.matrix .curtain {
  opacity: 0.1;
}

.matrix .hover .curtain {
  opacity: 0;
}
